*{
	margin: 0;
	padding: 0;
	
}
nav{
    background-color: rgba(108, 90, 15, 0.914);
}
.divider-line {
    background-color: black; 
    
    margin: 0;
    padding-top: 2px;
   margin-top: 6px;
 }
 .navbar-brand{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 h2{
    text-align: center;
 }
 .container
{
	background-color: grey;
}
.nav-link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
body{
    background-color: rgb(99, 102, 132);
    color: white;
}